
<div th:fragment="makePlans" th:remove="tag">

    <form class="form-horizontal" id="definiteDateForm">

        <div class="form-group row">
            <label for="doingWhat" class="col-sm-2 col-form-label font-bold">What?</label>
            <div class="col">
                <input class="form-control" maxlength="35" placeholder="ex: Take a walk in the park, grab drinks" type="text" id="doingWhat" name="doingWhat">
            </div>
        </div>
        <div class="form-group row">
            <label for="locationName" class="col-sm-2 col-form-label font-bold">Where?</label>
            <div class="col">
                <input class="form-control" maxlength="30" placeholder="ex: Bob's Cafe" type="text" id="locationName" name="locationName">
            </div>
        </div>
        <div class="form-group row">
            <label for="locationAddr" class="col-sm-2 col-form-label font-bold"></label>
            <div class="col">
                <input class="form-control" maxlength="50" placeholder="ex: 123 Main St" type="text" id="locationAddr" name="locationAddr">
            </div>
        </div>


        <div class="form-group row">
            <label for="doingWhenDate" class="col-sm-2 col-form-label font-bold">When?</label>
            <div class="col">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" id="doingWhenDate" name="doingWhenDate" class="form-control">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="doingWhenTime" class="col-sm-2 col-form-label font-bold"></label>
            <div class="col">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                    <input type="text" id="doingWhenTime" name="doingWhenTime" class="form-control">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="greetingMsg" class="col-sm-2 col-form-label font-bold">Greeting</label>
            <div class="col">
                <div class="input-group m-b">
                    <textarea class="form-control" cols="100" rows="5" id="greetingMsg" name="greetingMsg"></textarea>
                    <span class="help-block m-b-none" id="greetingMsgChars"></span>
                </div>
            </div>
        </div>


        <div class="form-group" wicket:id="proposeNewPlanContainer">
            <div class="col-sm-4">
                <button class="btn btn-primary" data-singleton="true" data-toggle="confirmation" wicket:id="proposePlan">Propose this plan!</button>
            </div>
        </div>
    </form>

</div>




<div th:fragment="already-occured-frag" th:remove="tag">
    <div class="alert alert-danger" id="feedbackErrorBox" style="display:none;">
        <ul>
        </ul>
    </div>

    <form class="form-horizontal" wicket:id="dateFeedbackForm">

        <h3 class="m-t-none m-b">This <strong class="text-success">WILL</strong> be shared with <span
                wicket:id="otherPersonName1"></span></h3>

        <div class="form-group">
            <label class="col-sm-4 control-label">Did <span wicket:id="otherPersonName4"></span> show up?</label>
            <div class="col-sm-6" wicket:id="participantNoShow">
                <input type="radio" wicket:id="participantNoShowYes"> Yes
                <input type="radio" wicket:id="participantNoShowNo"> No
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Do you want another date?</label>
            <div class="col-sm-6" wicket:id="participantWantsMore">
                <input type="radio" wicket:id="participantWantsMoreYes"> Yes
                <input type="radio" wicket:id="participantWantsMoreNo"> No
            </div>
        </div>

        <div class="hr-line-dashed"></div>

        <h3 class="m-t-none m-b">This <strong class="text-danger">WILL NOT</strong> be shared with <span
                wicket:id="otherPersonName2"></span></h3>

        <div class="form-group">
            <label class="col-sm-4 control-label">Is <span wicket:id="otherPersonName3"></span> safe to
                date?</label>
            <div class="col-sm-6" wicket:id="participantWasSafe">
                <input type="radio" wicket:id="participantWasSafeYes"> Yes
                <input type="radio" wicket:id="participantWasSafeNo"> No
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">How was it? <a class="fa fa-question-circle tooltip-icon-test"
                                                                 data-container="#tipsContainer"
                                                                 data-content="Tell us your overall experience setting up the date, the date itself, and ways to improve the process" data-toggle="popover"
                                                                 data-trigger="focus" role="button"
                                                                 tabindex="0"
                                                                 title="Feedback"></a></label>
            <div class="col-sm-6"><textarea class="form-control" wicket:id="participantFeedback"></textarea></div>
        </div>


        <div class="form-group">
            <div class="col-sm-12">
                <button class="btn btn-primary btn-lg" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>



<div th:fragment="pastDates" th:remove="tag" class="ibox float-e-margins">

</div>