
<div th:fragment="makePlans" id="make-plans-frag">

    <form class="form-horizontal" id="definiteDateForm" th:object="${date}" method="POST" data-parsley-validate>
        <input type="hidden" th:value="${ownerUserId}" th:field="*{ownerUserId}">
        <input type="hidden" th:value="${dateeUserId}" th:field="*{dateeUserId}">
        <input type="hidden" th:value="${id}" th:field="*{id}">

        <div class="alert alert-danger" role="alert" id="definiteDateFormErrors" style="display:none;"></div>

        <div class="form-group" th:if="${has_desc}">
            <div class="alert alert-success" th:utext="${date_desc}"></div>
        </div>

        <th:block th:unless="${can_edit}" th:remove="tag">
            <div class="form-group">
                <div th:utext="${date_info}"></div>
            </div>
        </th:block>

        <th:block th:if="${can_edit}" th:remove="tag">
            <div class="form-group row">
                <label for="doingWhat" class="col-sm-2 col-form-label font-bold">What?
                    <a class="fa fa-question-circle" title="What are we going to be doing on the date?<br>Be specific." data-toggle="tooltip" data-placement="top" data-html="true" tabindex="-1"></a>
                </label>
                <div class="col">
                    <input class="form-control" maxlength="35" placeholder="ex: Take a walk in the park, grab drinks" type="text" th:field="*{doingWhat}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="locationName" class="col-sm-2 col-form-label font-bold">Where?
                    <a class="fa fa-question-circle" title="Make sure to pick a safe, public place to meet.<br>Make sure it is easy to get to for both people." data-toggle="tooltip" data-placement="top" data-html="true" tabindex="-1"></a>
                </label>
                <div class="col">
                    <input class="form-control" maxlength="30" placeholder="ex: Bob's Cafe" type="text" th:field="*{locationName}" required>
                </div>
            </div>


            <div class="form-group row">
                <label for="doingWhenDate" class="col-sm-2 col-form-label font-bold">When?</label>
                <div class="col">
                    <div class="input-group date" data-provide="datepicker">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" th:field="*{doingWhenDate}" class="form-control" required>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="doingWhenTime" class="col-sm-2 col-form-label font-bold"></label>
                <div class="col">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                        <input type="text" th:field="*{doingWhenTime}" class="form-control clockpicker" required>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="greetingMsg" class="col-sm-2 col-form-label font-bold">Greeting
                    <a class="fa fa-question-circle" title="Write a brief, simple message introducing yourself and mentioning what caught your eye." data-toggle="tooltip" data-placement="top" data-html="true" tabindex="-1"></a>
                </label>
                <div class="col">
                    <div th:unless="${has_active_date}" class="input-group m-b">
                        <textarea class="form-control" cols="100" rows="5" th:field="*{greetingMsg}" required></textarea>
                        <span class="help-block m-b-none" id="greetingMsgChars"></span>
                    </div>
                    <div th:if="${has_active_date}" class="input-group m-b">
                        <input readonly class="form-control-plaintext" th:field="*{greetingMsg}"></input>
                    </div>
                </div>
            </div>
        </th:block>



        <div class="form-group row" th:unless="${has_active_date}">
            <div class="col-sm-3">
                <a href="javascript:;" class="btn btn-primary" id="proposePlanBtn" th:profile-id="${profile.id}">Propose this plan!</a>
            </div>
        </div>

        <div class="form-group row" th:if="${can_mod}">
            <div class="col-sm-12">
                <a href="javascript:;" th:if="${can_propose_change}" class="btn btn-primary btn-lg" id="proposeChange" th:profile-id="${profile.id}">Propose a change</a>
                <a href="javascript:;" th:if="${can_accept}" class="btn btn-success btn-lg" id="acceptPlan" th:profile-id="${profile.id}" th:date-id="${date.id}">Accept</a>
                <a href="javascript:;" th:if="${can_decline}" class="btn btn-danger pull-right" id="declinePlan" th:profile-id="${profile.id}" th:date-id="${date.id}">Decline</a>
            </div>
        </div>
    </form>

</div>




<div th:fragment="feedbackFrag" th:remove="tag">

    <form class="form-horizontal" id="dateFeedbackForm" th:object="${feedback}" method="POST" data-parsley-validate th:if="${show_feedback_form}">
        <input type="hidden" th:value="${dateId}" th:field="*{dateId}">
        <h3 class="m-t-none m-b">This <strong class="text-success">WILL</strong> be shared with [[${otherPersonName}]]</h3>


        <div class="form-group row">
            <label for="participantNoShow" class="col-sm-4 col-form-label font-bold">Did [[${otherPersonName}]] show up?</label>
            <div class="col">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" th:field="*{participantNoShow}" value="false" class="custom-control-input" required>
                    <label class="custom-control-label" for="participantNoShow1">Yes</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" th:field="*{participantNoShow}" value="true" class="custom-control-input" required>
                    <label class="custom-control-label" for="participantNoShow2">No</label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="participantWantsMore" class="col-sm-4 col-form-label font-bold">Do you want another date?</label>
            <div class="col">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" th:field="*{participantWantsMore}" value="true" class="custom-control-input" required>
                    <label class="custom-control-label" for="participantWantsMore1">Yes</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" th:field="*{participantWantsMore}" value="false" class="custom-control-input" required>
                    <label class="custom-control-label" for="participantWantsMore2">No</label>
                </div>
            </div>
        </div>

        <div class="hr-line-dashed"></div>

        <h3 class="m-t-none m-b">This <strong class="text-danger">WILL NOT</strong> be shared with [[${otherPersonName}]]</h3>

        <div class="form-group row">
            <label for="participantWasSafe" class="col-sm-4 col-form-label font-bold">Is [[${otherPersonName}]] safe to date?</label>
            <div class="col">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" th:field="*{participantWasSafe}" value="true" class="custom-control-input" required>
                    <label class="custom-control-label" for="participantWasSafe1">Yes</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" th:field="*{participantWasSafe}" value="false" class="custom-control-input" required>
                    <label class="custom-control-label" for="participantWasSafe2">No</label>
                </div>
            </div>
        </div>


        <div class="form-group row">
            <label for="participantFeedback" class="col-sm-2 col-form-label font-bold">How was it?
                <a class="fa fa-question-circle" title="Tell us your overall experience setting up the date, the date itself, and ways to improve the process" data-toggle="tooltip" data-placement="top" data-html="true" tabindex="-1"></a>
            </label>
            <div class="col">
                <div class="input-group m-b">
                    <textarea class="form-control" cols="100" rows="5" th:field="*{participantFeedback}"></textarea>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-12">
                <button class="btn btn-primary btn-lg" type="submit" id="submitFeedbackBtn" th:profile-id="${profile.id}">Submit</button>
            </div>
        </div>
    </form>
</div>



<div th:fragment="pastDates" th:remove="tag">
    <div class="ibox float-e-margins" th:if="${past_dates != null and !past_dates.isEmpty()}">
        <div class="ibox-title">
            <h5>Past Dates</h5>
        </div>
        <div class="ibox-content inspinia-timeline">
            <div class="timeline-item">
                <div class="row" th:each="pd : ${past_dates}">
                    <div class="col-3 date">
                        <i class="fa fa-calendar"></i>
                        <span th:text="${pd.doingWhen}"></span>
                        <br/>
                        <small th:if="${pd.wantsAnotherDate}" class="text-info">[[${pd.theirName}]] wants another date</small>
                        <small th:unless="${pd.wantsAnotherDate}" class="text-danger">[[${pd.theirName}]] doesn't want another date</small>
                    </div>
                    <div class="col-7 content no-top-border">
                        <address>
                            <strong th:text="${pd.doingWhat}">Meeting</strong><br>
                            <span th:text="${pd.locationName}"></span>
                        </address>
                        <p th:text="${pd.greetingMsg}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>