<div th:fragment="box" class="ibox ">
    <div class="ibox-title">
        <h5 th:text="${profile.displayName}"></h5>
    </div>
    <div>
        <div class="ibox-content no-padding border-left-right text-center" id="main-profile-pic">
            <a th:href="${profileFullImg}">
                <img alt="image" class="img-fluid" th:src="${profileThumbImg}" />
            </a>
        </div>
        <div class="ibox-content profile-content">
            <h4><strong th:text="${profile.displayName}"></strong>, <span th:text="${age}" th:remove="tag"></span> <span th:text="${gender}" th:remove="tag"></span></h4>
            <p th:utext="${loc}"></p>
            <div class="user-button" wicket:id="actionButtonsContainer"  th:if="${!isViewingSelf}">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-success btn-sm btn-block" id="btnMakePlans"><i class="fa fa-envelope"></i> Make Plans</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-danger btn-sm btn-block" id="btnBlockUser" th:profile-id="${profile.id}">
                            <i class="fa fa-times"></i> Block
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<table th:fragment="basicInfo" class="table">
    <tbody>
    <tr>
        <td>Age</td>
        <td th:text="${age}"></td>
    </tr>
    <tr>
        <td>Gender</td>
        <td th:text="${gender}"></td>
    </tr>
    <tr>
        <td>Height</td>
        <td th:text="${height}"></td>
    </tr>
    <tr>
        <td>Ethnicity</td>
        <td th:text="${ethnicity}"></td>
    </tr>
    <tr>
        <td>Marital Status</td>
        <td th:text="${maritalStatus}"></td>
    </tr>
    <tr>
        <td>Kids</td>
        <td th:text="${kids}"></td>
    </tr>
    <tr>
        <td>Wants kids</td>
        <td th:text="${wantsKids}"></td>
    </tr>
    <tr>
        <td>Languages</td>
        <td th:text="${languages}"></td>
    </tr>
    <tr>
        <td>Religion</td>
        <td th:text="${religion}"></td>
    </tr>
    <tr>
        <td>Education</td>
        <td th:text="${education}"></td>
    </tr>
    <tr>
        <td>Income</td>
        <td th:text="${income}"></td>
    </tr>
    <tr>
        <td>Smokes</td>
        <td th:text="${smokes}"></td>
    </tr>
    </tbody>
</table>


<div th:fragment="aboutMe" th:remove="tag">
    <h3>About Me</h3>
    <p th:text="${aboutMe}"></p>
    <div class="hr-line-dashed"></div>
    <h3>Interests</h3>
    <p th:text="${interests}"></p>
</div>



<div th:fragment="pics">
    <div class="demo-gallery">

        <ul id="profile-light-gallery">
            <li th:each="pic : ${user_pics}" th:data-src="${pic.getFullImgUrl()}">
                <a href="">
                    <img class="img-responsive" th:src="${pic.getThumbImgUrl()}">
                    <div class="demo-gallery-poster">
                        <img th:src="@{/img/zoom.png}">
                    </div>
                </a>
            </li>
        </ul>

    </div>
</div>
