<div th:fragment="box" class="ibox ">
    <div class="ibox-title">
        <h5 th:text="${profile.displayName}"></h5>
    </div>
    <div>
        <div class="ibox-content no-padding border-left-right text-center" id="main-profile-pic">
            <a th:href="${profileFullImg}">
                <img alt="image" class="img-fluid" th:src="${profileThumbImg}" />
            </a>
        </div>
        <div class="ibox-content profile-content">
            <h4><strong th:text="${profile.displayName}"></strong>, <span th:text="${age}" th:remove="tag"></span> <span th:text="${gender}" th:remove="tag"></span></h4>
            <p th:utext="${loc}"></p>

            <p th:unless="${isOnline}"><span class="badge badge-info" th:utext="${lastOnline}"></span></p>
            <p th:if="${isOnline}"><span class="badge badge-primary">Online!</span></p>

            <div class="user-button" wicket:id="actionButtonsContainer"  th:if="${!isViewingSelf && currUserInfo.isProfileComplete()}">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-success btn-sm btn-block btnMakePlans"><i class="fa fa-envelope"></i> Make Plans</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-danger btn-sm btn-block" id="btnBlockUser" th:profile-id="${profile.id}">
                            <i class="fa fa-times"></i> Block
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<table th:fragment="basicInfo" class="table">
    <tbody>
    <tr>
        <td>Age</td>
        <td th:text="${age}"></td>
    </tr>
    <tr>
        <td>Gender</td>
        <td th:text="${gender}"></td>
    </tr>
    <tr>
        <td>Height</td>
        <td th:text="${height}"></td>
    </tr>
    <tr>
        <td>Ethnicity</td>
        <td th:text="${ethnicity}"></td>
    </tr>
    <tr>
        <td>Marital Status</td>
        <td th:text="${maritalStatus}"></td>
    </tr>
    <tr>
        <td>Kids</td>
        <td th:text="${kids}"></td>
    </tr>
    <tr>
        <td>Wants kids</td>
        <td th:text="${wantsKids}"></td>
    </tr>
    <tr>
        <td>Languages</td>
        <td th:text="${languages}"></td>
    </tr>
    <tr>
        <td>Religion</td>
        <td th:text="${religion}"></td>
    </tr>
    <tr>
        <td>Education</td>
        <td th:text="${education}"></td>
    </tr>
    <tr>
        <td>Income</td>
        <td th:text="${income}"></td>
    </tr>
    <tr>
        <td>Smokes</td>
        <td th:text="${smokes}"></td>
    </tr>
    </tbody>
</table>


<div th:fragment="aboutMe" th:remove="tag">
    <h3>About Me</h3>
    <p th:text="${aboutMe}"></p>
    <div class="hr-line-dashed"></div>
    <h3>Interests</h3>
    <p th:text="${interests}"></p>
</div>



<div th:fragment="pics">
    <div class="demo-gallery">

        <ul id="profile-light-gallery">
            <li th:each="pic : ${user_pics}" th:data-src="${pic.getFullImgUrl()}">
                <a href="">
                    <img class="img-responsive" th:src="${pic.getThumbImgUrl()}">
                    <div class="demo-gallery-poster">
                        <img th:src="@{/img/zoom.png}">
                    </div>
                </a>
            </li>
        </ul>

    </div>
</div>


<div th:fragment="chat" th:remove="tag">

    <p class="alert alert-info">
        <strong th:if="${num_remaining_msgs > 0}">You can still send up to [[${num_remaining_msgs}]] messages to [[${profile.displayName}]].</strong>
        <strong th:if="${num_remaining_msgs == 0}">You can't send any more messages.  If you would like to meet, <a href="javascript:;" class="btnMakePlans">make plans!</a></strong>
        <br>
        <small><a title="Studies have shown that too much virtual communication before the date leads to a less fulfilling date.<br><br> People present themselves the best in person, so let them do it.<br><br> Virtual messaging is unnatural and can leads to misunderstandings." data-toggle="tooltip" data-placement="top" data-html="true" tabindex="-1">Why do we limit the number of messages?</a></small>
    </p>


    <div class="ibox chat-view">
        <div class="row" th:if="${chat_thread != null and !chat_thread.isEmpty()}">
            <div class="chat-discussion">
                <th:block th:each="msg : ${chat_thread}" th:remove="tag">
                    <div class="chat-message" th:classappend="${msg.userId == profile.id} ? left : right">
                        <img class="message-avatar" th:src="${msg.img}" alt="">
                        <div class="message">
                            <span class="message-author" th:text="${msg.displayName}"></span>
                            <span class="message-date" th:text="${msg.date}"></span>
                            <span class="message-content" th:text="${msg.msg}"></span>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>

        <form th:action="@{/chat/send}" th:if="${num_remaining_msgs > 0}" method="post" id="chatForm" data-parsley-validate>
            <input type="hidden" th:value="${profile.id}" name="profileId">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <textarea class="form-control" name="chatMessage" id="chatMessage" placeholder="Enter message text"
                                  aria-describedby="chatMsgChars" required data-parsley-maxlength="500"></textarea>
                        <small id="chatMsgChars" class="form-text text-muted clear"></small>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <button class="btn btn-primary btn-lg" type="submit" id="sendChatBtn">Send</button>
                </div>
            </div>
        </form>

    </div>

</div>