<div th:fragment="posts" th:remove="tag">

    <div class="row">

        <div class="col-lg-10">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="text-center article-title">
                        <span class="text-muted"><i class="fa fa-clock-o"></i> July 24th 2020</span>
                        <h1>
                            Welcome to LetsDefinitely.com
                        </h1>
                    </div>
                    <p>
                        Welcome to the launch of LetsDefinitely.com!  Our goal is to take the guesswork out of dating, let me explain what that actually means.
                        In designing the site, we've followed the advice of long-time dating and relationship expert <a href="https://understandingrelationships.com/" target="_blank">Corey Wayne</a>.
                    </p>
                    <p>
                        <mark>Making definite plans, by setting a specific date, time, and place to meet leads to more kept dates and less frustrating situations of being stood up.
                            When two people make definite plans it shows they respect and value each other's time and are looking forward to seeing each other.</mark>
                    </p>

                    <h1>How we accomplish that</h1>
                    <p>
                        When someone catches your interest and you would like to possibly setup a date, you will send them a message along with what you will like to do on the date, where, and when.
                        <strong>Don't worry about scheduling just yet</strong>, this is designed to show that you are serious about meeting and not a time-waster.
                        Once the other person responds and is interested you can iron out the details of the exact date and time.
                    </p>
                    <p>Once you've both accepted the date, make every effort to show up.  Making definite plans means there is no need for confirmations and no flaky responses.</p>

                    <h3>Messaging before the date</h3>
                    <p>
                        <strong>Are you tried of endless messaging that leads no where?</strong>  We still allow a limited number of messages to be exchanged between you two to get to know a bit about the other
                        person before the date.  As well as to help you decide if you want the date!  Studies have shown that too much virtual communication before a date leads to less fulfilling dates.
                        People present themselves the best in person, so let them do it.  Virtual messaging is unnatural and can leads to misunderstandings.
                    </p>

                    <h1>Tips for the date</h1>
                    <ul>
                        <li>Only agree to meet in a public place you would feel comfortable at.  Do not meet at someone's apartment.</li>
                        <li>Make sure to arrive yourself and that you have an easy way to get home yourself.</li>
                        <li>Don't have unrealistic expectations.  Treat this as a fun-filled opportunity to get to know each other, and see where it goes!</li>
                    </ul>

                    <h1>After the date</h1>
                    <p>
                        <strong>Should I call after the date? Does she want another date? Does he want to see me again?</strong>
                    </p>
                    <p>
                        These kind of questions cause unnecessary confusion. After the date, both of you will be asked to give your feedback on a 2nd date. No more guesswork!
                        If you like, you can go into detail, but it isn't necessary.  You can simply indicate if you would like another date.
                    </p>
                    <p>If you both said yes, congratulations. Since it has worked out so well, why change the formula?  We recommend you setup the first 3 dates using LetsDefinitely.com.
                        Try to schedule one date per week.</p>


                    <h1>Have fun</h1>
                    <p>
                        Keep an eye on this section for more updates as we release new features.  I would greatly appreciate any feedback that you have.
                        <a href="mailto:roman@letsdefinitely.com"> <strong>Please don't hesitate to contact me personally</strong></a>.
                    </p>

                    <address>
                        Sincerely,<br>
                        <strong>Roman</strong><br>
                        CEO and Founder of LetsDefinitely.com
                    </address>

                </div>
            </div>
        </div>


    </div>


</div>
