<form th:fragment="browse-filters" th:action="@{/browse/filter}" th:object="${prefs}" method="post" id="filtersForm" name="filtersForm">

    <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne1">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1" class="toggle-browse-filter-grp">
                    <h5 class="mb-0"> Physical <i class="fas fa-angle-down rotate-icon"></i></h5>
                </a>
            </div>
            <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group browse-filter col">
                            Age:
                        </div>
                        <div class="form-group browse-filter col">
                            <select class="form-control doit-select2 col-md-2" th:field="*{ageFrom}">
                                <option value="0">Any</option>
                                <option th:each="g : ${ages}" th:value="${g}" th:text="${g}"></option>
                            </select>
                        </div>
                        <div class="form-group browse-filter col">
                            <select class="form-control doit-select2 col-md-2" th:field="*{ageTo}">
                                <option value="0">Any</option>
                                <option th:each="g : ${ages}" th:value="${g}" th:text="${g}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row px-2">
                    <div class="form-group browse-filter col">
                        Height:
                    </div>
                    <div class="form-group browse-filter col">
                        <select class="form-control doit-select2" th:field="*{heightFrom}">
                            <option value="0">Any</option>
                            <option th:each="o : ${heights}" th:value="${o.id}" th:text="${o.enumValue}"></option>
                        </select>
                    </div>
                    <div class="form-group browse-filter col">

                        <select class="form-control doit-select2" th:field="*{heightTo}">
                            <option value="0">Any</option>
                            <option th:each="o : ${heights}" th:value="${o.id}" th:text="${o.enumValue}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-row px-2">
                    <div class="form-group browse-filter col-sm">
                        <select class="form-control doit-select2" data-placeholder="Distance from me" th:field="*{distance}">
                            <option value="0">Any distance from me</option>
                            <option th:each="d : ${distances}" th:value="${d}" th:text="${d}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-row px-2">
                    <div class="form-group browse-filter col-sm">
                        <select class="form-control doit-select2" data-placeholder="State" th:field="*{state}">
                            <option value="0">Any State</option>
                            <option th:each="o : ${states}" th:value="${o.abbreviation}" th:text="${o.name}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-row px-2">
                    <div class="form-group browse-filter col-sm">
                        <select class="form-control doit-select2" data-placeholder="Gender" multiple th:field="*{genders}">
                            <option th:each="o : ${genders}" th:value="${o.id}" th:text="${o.enumValue}"></option>
                        </select>
                    </div>
                </div>


                <div class="form-row px-2">
                    <div class="form-group browse-filter col-sm">
                        <select class="form-control doit-select2" data-placeholder="Ethnicity" multiple th:field="*{ethnicties}">
                            <option th:each="o : ${ethnicities}" th:value="${o.id}" th:text="${o.enumValue}"></option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo2">
                <a class="collapsed toggle-browse-filter-grp" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                    <h5 class="mb-0">Personal <i class="fas fa-angle-down rotate-icon"></i></h5>
                </a>
            </div>
            <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                <div class="card-body">

                    <div class="form-row">
                        <div class="form-group browse-filter col-sm">
                            <select class="form-control doit-select2" data-placeholder="Marital Status" multiple th:field="*{maritalStatuses}">
                                <option th:each="o : ${maritalStatuses}" th:value="${o.id}" th:text="${o.enumValue}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group browse-filter col-sm">
                            <select class="form-control doit-select2" data-placeholder="Kids" multiple th:field="*{kids}">
                                <option th:each="o : ${kidTypes}" th:value="${o.id}" th:text="${o.enumValue}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group browse-filter col-sm">
                            <select class="form-control doit-select2" data-placeholder="Wants Kids" multiple th:field="*{wantsKids}">
                                <option th:each="o : ${wantKidTypes}" th:value="${o.id}" th:text="${o.enumValue}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group browse-filter col-sm">
                            <select class="form-control doit-select2" data-placeholder="Languages" multiple th:field="*{languages}">
                                <option th:each="o : ${languageTypes}" th:value="${o.id}" th:text="${o.enumValue}"></option>
                            </select>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group browse-filter col-sm">
                            <select class="form-control doit-select2" data-placeholder="Income" multiple th:field="*{incomes}">
                                <option th:each="o : ${incomeTypes}" th:value="${o.id}" th:text="${o.enumValue}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group browse-filter col-sm">
                            <select class="form-control doit-select2" data-placeholder="Smokes" multiple th:field="*{smokes}">
                                <option th:each="o : ${smokeTypes}" th:value="${o.id}" th:text="${o.enumValue}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group browse-filter col-sm">
                            <select class="form-control doit-select2" data-placeholder="Religion" multiple th:field="*{religions}">
                                <option th:each="o : ${religions}" th:value="${o.id}" th:text="${o.enumValue}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group browse-filter col-sm">
                            <select class="form-control doit-select2" data-placeholder="Education" multiple th:field="*{educations}">
                                <option th:each="o : ${educations}" th:value="${o.id}" th:text="${o.enumValue}"></option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <div class="row px-2 py-2">
        <div class="col">
            <button class="btn btn-primary btn-md full-width" type="submit" id="btnFilter" name="btnFilter">Filter</button>
        </div>
    </div>
    <div class="row px-2 py-2">
        <div class="col">
            <a th:href="@{/browse/reset}" class="btn btn-danger btn-md full-width">Reset</a>
        </div>
    </div>


    <div id="ajaxloaderGif" style="display:none;"><img src="img/ajax-loader.gif"/></div>

</form>



