
<html th:fragment="guestLayout(pageContent, headerContent)" lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/header::standard-header(${headerContent})"></div>

    <body class="top-navigation">
        <div id="wrapper">
            <div id="page-wrapper" class="gray-bg">
                <div class="row border-bottom white-bg">
                    <nav th:replace="fragments/nav::nav-bar"></nav>
                </div>
                <div class="wrapper wrapper-content">
                    <div class="container">
                        <div th:replace="${pageContent}"></div>
                        <div th:replace="fragments/what_makes_us_diff::diff-frag"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>



<html th:fragment="authenticatedLayout(pageContent, headerContent)" lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/header::standard-header(${headerContent})"></div>
    <body class="top-navigation">
        <div id="wrapper">
            <div id="page-wrapper" class="gray-bg">
                <div class="row border-bottom white-bg">
                    <nav th:replace="fragments/nav::auth-nav-bar"></nav>
                </div>
                <div class="wrapper wrapper-content">
                    <div class="container">
                        <div th:replace="${pageContent}"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>