
<html th:fragment="guestLayout(pageContent, headerContent, showDiffFrag)" lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/header::standard-header(${headerContent})"></div>
    <body class="top-navigation">
        <div id="wrapper">
            <div id="page-wrapper" class="gray-bg">
                <div class="row border-bottom white-bg">
                    <nav th:replace="fragments/nav::nav-bar"></nav>
                </div>
                <div class="wrapper wrapper-content">
                    <div class="container">

                        <div class="alert alert-danger" id="customErrMsgDiv" style="display:none;"></div>
                        <div class="alert alert-info" id="progressMsgDiv" style="display:none;"></div>
                        <div class="alert alert-success" id="customSuccessMsgDiv" style="display:none;">Saved!</div>

                        <div th:replace="${pageContent}"></div>
                        <span th:if="${showDiffFrag}" th:remove="tag">
                            <div th:replace="fragments/what_makes_us_diff::diff-frag"></div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>



<html th:fragment="authenticatedLayout(pageContent, headerContent)" lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/header::standard-header(${headerContent})"></div>
    <body class="top-navigation">
        <div id="wrapper">
            <div id="page-wrapper" class="gray-bg">
                <div class="row border-bottom white-bg">
                    <nav th:replace="fragments/nav::auth-nav-bar"></nav>
                </div>
                <div class="wrapper wrapper-content">
                    <div class="container">

                        <div th:replace="fragments/missing_fields::warning-frag" th:remove="tag"></div>

                        <div class="alert alert-danger" id="customErrMsgDiv" style="display:none;"></div>
                        <div class="alert alert-info" id="progressMsgDiv" style="display:none;"></div>
                        <div class="alert alert-success" id="customSuccessMsgDiv" style="display:none;">Saved!</div>

                        <div th:replace="${pageContent}"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>