<nav th:fragment="nav-bar" class="navbar navbar-expand-lg navbar-static-top" role="navigation">

    <a href="/" class="navbar-brand"><i class="fa fa-calendar fa-2x"></i> LetsDefinitely.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-reorder"></i>
    </button>

    <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav mr-auto">
            <li class="active">
                <a aria-expanded="false" role="button" th:href="@{/login}"> Login</a>
            </li>
            <li>
                <a aria-expanded="false" role="button" th:href="@{/register}"> Register</a>
            </li>
        </ul>
    </div>
</nav>

<nav th:fragment="auth-nav-bar" class="navbar navbar-expand-lg navbar-static-top" role="navigation">

    <a href="/" class="navbar-brand"><i class="fa fa-calendar fa-2x"></i> LetsDefinitely.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-reorder"></i>
    </button>

    <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav mr-auto">
            <li>
                <div class="profile-element block">
                    <a th:href="@{/profiles/{id}(id=${currUserInfo.currUserId})}"><img id="nav-profile-pic" class="img-circle" width="80" th:src="${currUserInfo.currUserImg}" /></a>
                </div>
            </li>
            <li class="active">
                <a aria-expanded="false" role="button" href="/"> Calendar</a>
            </li>
            <li>
                <a aria-expanded="false" role="button" th:href="@{/me/profile}"> Edit profile</a>
            </li>
            <li>
                <a aria-expanded="false" role="button" th:href="@{/pwd}"> Edit password</a>
            </li>
            <li>
                <a aria-expanded="false" role="button" th:href="@{/browse}"> Browse</a>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
            <li>

                <a href="/" th:if="${currUserInfo.numUnreadMsgs > 0}" class="widget style1 navy-bg a-no-deco">
                    <div class="row vertical-align">
                        <div class="col">
                            <i class="fa fa-envelope-o fa-2x"></i>
                        </div>
                        <div class="text-right">
                            <h2 class="font-bold" th:text="${currUserInfo.numUnreadMsgs}">10</h2>
                        </div>
                    </div>

                </a>
            </li>
            <li>
                <a href="#" th:href="@{/logout}">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
    </div>
</nav>