<!doctype html>
<html th:replace="~{fragments/layout::authenticatedLayout(~{::browse}, ~{::header-content})}" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header-content" th:remove="tag">
    <script th:src="@{/js/browse.js}"></script>
</head>


<div th:fragment="browse" class="row">
    <div class="col-md-3">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Filters</h5>
            </div>
            <div>
                <div class="">
                    <div th:replace="fragments/filters::browse-filters"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="text-center" id="loading-indicator" style="display: none;">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="col-md-9" id="search-results-cont">
        <div th:replace="browse::search-results"></div>
    </div>
</div>


<div th:fragment="search-results" th:remove="tag">

    <div class="alert alert-success" id="search-num-results">
        [[${numResults}]] results

        <nav class="float-right">
            <ul class="pagination">
                <li class="page-item" th:if="${pagination.showPrev}">
                    <a class="page-link" href="javascript:;" aria-label="Previous" th:page-num="${pagination.prevPage}"><span aria-hidden="true">&laquo;</span></a>
                </li>
                <li class="page-item" th:if="${pagination.showPrev}"><a class="page-link" href="javascript:;" th:text="${pagination.prevPage + 1}" th:page-num="${pagination.prevPage}"></a></li>
                <li class="page-item active"><a class="page-link" href="javascript:;" th:text="${pagination.currPage + 1}"></a></li>
                <li class="page-item" th:if="${pagination.showNext}"><a class="page-link" href="javascript:;" th:text="${pagination.nextPage + 1}" th:page-num="${pagination.nextPage}"></a></li>
                <li class="page-item" th:if="${pagination.showNext}">
                    <a class="page-link" href="javascript:;" aria-label="Next" th:page-num="${pagination.nextPage}"><span aria-hidden="true">&raquo;</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row" >
        <div class="col-lg-3" th:each="profile: ${profiles}">
            <div class="contact-box center-version">

                <a th:href="@{/profiles/{id}(id=${profile.userId})}" name="viewProfileLink">
                    <img class="rounded-circle" th:src="${profile.profileImgSrc}" />
                    <h3 class="m-b-xs"><strong th:text="${profile.firstName}"></strong></h3>
                    <address><span th:utext="${profile.location}"></span></address>
                </a>
                <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                        <button class="btn btn-xs btn-primary btn-circle" data-placement="bottom" data-toggle="tooltip" title="Online!" type="button" th:if="${profile.online}"><i class="fa fa-globe"></i></button>
                        <button class="btn btn-xs btn-danger btn-circle" data-placement="bottom" data-toggle="tooltip" type="button" th:if="${profile.numNoShows > 0}"><i class="fa fa-warning"></i></button>
                        <button class="btn btn-xs btn-info btn-circle" data-placement="bottom" data-toggle="tooltip" title="Wants another date!" type="button" th:if="${profile.wantsMore}"><i class="fa fa-thumbs-up"></i></button>
                        <button class="btn btn-xs btn-danger btn-circle" data-placement="bottom" data-toggle="tooltip" title="Does not want another date!" type="button" th:if="${profile.wantsNoMore}"><i class="fa fa-thumbs-down"></i></button>
                        <button class="btn btn-xs btn-info btn-circle" data-placement="bottom" data-toggle="tooltip" title="You have an active date!" type="button" th:if="${profile.hasActiveDate}"><i class="fa fa-calendar"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

</html>
