<!doctype html>
<html th:replace="~{fragments/layout::authenticatedLayout(~{::index-content}, ~{::header-content})}" lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:fragment="header-content" th:remove="tag">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.4.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.4.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.4.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/list@4.4.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap@4.4.0/main.min.css">

    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.4.0/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.4.0/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.4.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/list@4.4.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap@4.4.0/main.js"></script>

    <script>

        $(document).ready(function() {

            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                header: { right: 'dayGridMonth,dayGridWeek,listWeek, today prev,next' },
                plugins: [ 'dayGrid', 'timeGrid', 'list', 'bootstrap' ],
                themeSystem: 'bootstrap',
                defaultView: 'dayGridMonth',
                events: [(${calendar_events})]
            });
            calendar.render();
        });

    </script>
</head>

<div th:fragment="index-content">

    <div class="row animated fadeInDown">
        <div class="col-lg-3">
            <div class="widget style1 lazur-bg">
                <div class="row">
                    <div class="col-4">
                        <i class="fa fa-envelope-o fa-5x"></i>
                    </div>
                    <div class="col-8 text-right">
                        <span> New messages </span>
                        <h2 class="font-bold">260</h2>
                    </div>
                </div>
            </div>
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Requires your action</h5>
                </div>
                <div class="ibox-content">

                    <div th:each="item : ${action_items}">
                        <a th:href="${item.url}"><div class="external-event navy-bg" th:text="${item.desc}"></div></a>
                    </div>

                    <a href="browse" th:if="${action_items == null or action_items.isEmpty()}">Nothing needs your attention. Go set up some dates!</a>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Upcoming dates</h5>
                </div>
                <div class="ibox-content">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>
