<!doctype html>
<html th:replace="~{fragments/layout::guestLayout(~{::login}, ~{::header-content})}" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header-content" th:remove="tag">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>


<div class="row" th:fragment="login">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 text-center">

        <div class="alert alert-danger" id="loginFeedback" style="display:none;"></div>

        <p>Login in. To see it in action.</p>
        <form id="loginForm" role="form" th:action="@{/login}" method="POST">
            <div class="form-group">
                <input class="form-control" id="loginemail" name="loginemail" placeholder="Email" type="email">
            </div>
            <div class="form-group">
                <input class="form-control" id="loginpassword" name="loginpassword" placeholder="Password" type="password">
            </div>
            <label> <input name="remember" type="checkbox" value="1"> Remember me </label>
            <button class="btn btn-primary block full-width" type="submit">Login</button>


            <a href="@{/forgotpwd}"><small>Forgot password?</small></a>
            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" href="@{/register}">Create an account for FREE</a>
        </form>
    </div>
    <div class="col-lg-4"></div>
</div>

</html>
