<!doctype html>
<html th:replace="~{fragments/layout::guestLayout(~{::login}, ~{::header-content}, true)}" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header-content" th:remove="tag">
    <link th:href="@{/css/bootstrap-social.css}" rel="stylesheet">
    <script th:src="@{/js/login.js}"></script>
</head>

<div class="row" th:fragment="login">
    <div class="col-lg-6">

        <div class="image-wrapper float-left">
            <img class="mr-3 img-md" src="/img/android-chrome-192x192.png" alt="">
        </div>
        <div class="single-post-content-wrapper">
            <h1 class="mt-0">LetsDefinitely.com</h1>
            Welcome to a new approach to online dating, taking the guesswork out of the equation.  Our service is completely FREE for our users, so get started by creating an account.
            <h4>Why do we require you to create an account?</h4>
            In order to maintain the integrity of our user base and to help protect the privacy of our users.
        </div>
    </div>
    <div class="col-lg-6 text-center">

        <div class="alert alert-success" th:if="${was_pwd_reset}">
            Your password was successfully reset, please continue to login.
        </div>

        <div class="alert alert-success" th:if="${was_confirmed}">
            Thanks for confirming your email, please continue to login.
        </div>

        <div class="alert alert-success" th:if="${was_deleted}">
            Your account and all of your data has been deleted.  Come back some time!
        </div>



        <div th:if="${login_error != null}" class="alert alert-danger" id="login-error-div">
            [[${login_error}]]
            <a th:if="${login_error_type == 3}" href="javascript:;" id="resend-confirm-email" th:email="${email}">Re-send validation email</a>
        </div>

        <div class="hr-line-solid  d-sm-block d-xs-block d-md-none"></div>

        <p>Login in. To see it in action.</p>

        <form id="loginForm" role="form" th:action="@{/login}" method="POST" data-parsley-validate>

            <div class="form-group">
                <input class="form-control" id="loginemail" name="loginemail" placeholder="Email" type="email"
                       required data-parsley-type="email">
            </div>
            <div class="form-group">
                <input class="form-control" id="loginpassword" name="loginpassword" placeholder="Password" type="password"
                       required data-parsley-minlength="8">
            </div>
            <label>
                <input name="remember" type="checkbox" value="1"> Remember me
            </label>
            <button class="btn btn-primary block full-width btn-rounded" type="submit">Login</button>
            <br>
            <a class="btn btn-sm btn-block btn-info btn-rounded" th:href="@{/register}">Create an account for FREE</a>
            <label><a th:href="@{/forgotpwd}"><small>Forgot password?</small></a></label>

            <br>

            <label><strong><small>We never post anything to your social media</small></strong></label>

            <a th:href="${googleLoginUrl}" class="btn btn-block block full-width">
                <img th:src="@{/img/btn_google_signin_light_normal_web.png}">
            </a>
            <a th:href="${fbLoginUrl}" class="btn btn-social btn-facebook">
                <i class="fab fa-facebook-f"></i> Sign in with Facebook
            </a>


        </form>

    </div>

</div>

</html>
