<!doctype html>
<html th:replace="~{fragments/layout::authenticatedLayout(~{::edit-my-profile}, ~{::header-content})}" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header-content" th:remove="tag">
    <script>
        definitePlansScripts.curr_user_id = [[${curr_user_id}]];
    </script>

    <link th:href="@{/css/plugins/dropzone/basic.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/dropzone/dropzone.css}" rel="stylesheet">
    <script th:src="@{/js/plugins/dropzone/dropzone.js}"></script>
    <script th:src="@{/js/edit_profile.js}"></script>


    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-storage.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyBJxI3c-hcRfiEdaNHkqhTkeZovbR1RoLw",
            authDomain: "ultra-compound-851.firebaseapp.com",
            databaseURL: "https://ultra-compound-851.firebaseio.com",
            projectId: "ultra-compound-851",
            storageBucket: "ultra-compound-851.appspot.com",
            messagingSenderId: "947515066542",
            appId: "1:947515066542:web:413c40377db4022467453f",
            measurementId: "G-8LRFEF2NGM"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>
</head>

<div class="row" th:fragment="edit-my-profile">

    <div class="col-lg-12">
        <div id="missingFieldsFeedback"></div>
    </div>

    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title"><h5>Basic Info</h5></div>
            <div class="ibox-content">
                <p th:replace="edit_profile/basic_info::basic-info"></p>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title"><h5>Details</h5></div>
            <div class="ibox-content">
                <p th:replace="edit_profile/details::detail-info"></p>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title"><h5>Profile Pictures</h5></div>
            <div class="ibox-content">

                    <form id="editProfilePicForm">
                        <div class="form-row">
                            <div class="form-group col-lg-12">
                                <div id="previewsContainer" style="display:none;"></div>
                                <div class="alert alert-danger" id="uploadErrDiv" style="display:none;"></div>
                                <div class="alert alert-success" id="uploadSuccessDiv" style="display:none;">Saved!</div>

                                <button class="btn btn-success " id="btnUploadPic" type="button"><i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">Upload new profile picture</span></button>
                                <a class="fa fa-question-circle tooltip-icon-test" data-content="Use a picture that clearly shows your face and body type" data-toggle="popover" data-trigger="focus" role="button" tabindex="0" title="Tips"></a>
                            </div>
                        </div>
                    </form>

                    <div class="col-lg-12 animated fadeInRight">
                        <div class="row">
                            <div class="col-lg-3" th:each="pic : ${user_pics}">
                                <div class="contact-box center-version">
                                    <a href="profile.html">
                                        <img alt="image" class="img-fluid" th:src="${pic.getThumbImgUrl()}">
                                    </a>
                                    <div class="text-center">
                                        <div class="btn-group">

                                            <button class="btn btn-xs btn-outline btn-info set-as-profile-img" type="button" id="updateProfileImgBtn" img-id="${pic.id}"><i class="fa fa-user-check"></i>Use</button>
                                            <button class="btn btn-xs btn-outline btn-danger delete-profile-img" type="button" id="deleteImgBtn" img-id="${pic.id}"><i class="fa fa-trash-alt"></i>Delete</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title"><h5>Settings</h5></div>
            <div class="ibox-content">
                <p th:replace="edit_profile/settings::settings"></p>
            </div>
        </div>
    </div>

</div>

</html>
