<!doctype html>
<html th:replace="~{fragments/layout::authenticatedLayout(~{::edit-my-profile}, ~{::header-content})}" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header-content" th:remove="tag">
    <script type="text/javascript">
        definitePlansScripts.curr_user_id = [[${curr_user_id}]];
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dropzone@5.7.0/dist/basic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dropzone@5.7.0/dist/dropzone.min.css">

    <script src="https://cdn.jsdelivr.net/npm/dropzone@5.7.0/dist/dropzone.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-storage.js"></script>
    <script th:src="@{/js/edit_profile.js}"></script>
</head>

<div class="row" th:fragment="edit-my-profile">

    <div class="col-lg-12">
        <div id="missingFieldsFeedback"></div>
    </div>

    <div class="col-lg-12">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li><a class="nav-link active" data-toggle="tab" href="#tab-3"> <i class="fas fa-user fa-lg"></i></a></li>
                <li><a class="nav-link" data-toggle="tab" href="#tab-4"><i class="fas fa-sliders-h fa-lg"></i></a></li>
                <li><a class="nav-link" data-toggle="tab" href="#tab-5"><i class="fas fa-cog fa-lg"></i></a></li>
                <li><a class="nav-link" data-toggle="tab" href="#tab-6"><i class="fas fa-images fa-lg"></i></a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-3" class="tab-pane active">
                    <div class="panel-body">
                        <strong>Basic Info</strong>
                        <p th:replace="edit_profile/basic_info::basic-info"></p>
                    </div>
                </div>
                <div id="tab-4" class="tab-pane">
                    <div class="panel-body">
                        <strong>Details</strong>
                        <p th:replace="edit_profile/details::detail-info"></p>
                    </div>
                </div>
                <div id="tab-5" class="tab-pane">
                    <div class="panel-body">
                        <strong>Settings</strong>
                        <p th:replace="edit_profile/settings::settings"></p>
                    </div>
                </div>
                <div id="tab-6" class="tab-pane">
                    <div class="panel-body">
                        <strong>Profile Pictures</strong>
                        <p th:replace="edit_profile/imgs::profile-imgs"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>
