<!doctype html>
<html th:replace="~{fragments/layout::guestLayout(~{::thanks}, ~{::header-content}, false)}" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header-content" th:remove="tag">

</head>

<div class="row" th:fragment="thanks">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1><strong>Thanks for registering!</strong></h1>
        <h2>Please click the confirmation link in the email sent to you at <b>[[${email}]]</b> to activate your account.</h2>
    </div>
</div>

</html>
