<!doctype html>
<html th:replace="~{fragments/layout::guestLayout(~{::reset-my-pwd-invalid}, ~{::header-content}, false)}" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header-content" th:remove="tag">

</head>

<div class="row" th:fragment="reset-my-pwd-invalid">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title"><h5>Reset my password</h5></div>
            <div class="ibox-content">

                <p>Sorry, you've arrived from an invalid and/or expired link. Please try again.</p>

            </div>
        </div>
    </div>
</div>



</html>
