<!doctype html>
<html th:replace="~{fragments/layout::authenticatedLayout(~{::edit-my-pwd}, ~{::header-content})}" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header-content" th:remove="tag">
    <script th:src="@{/js/pwd.js}"></script>
</head>

<div class="row" th:fragment="edit-my-pwd">

    <form role="form" id="resetPasswordForm" th:action="@{/pwd}" th:object="${user}" method="post">


        <div class="form-group row">
            <label for="currPwdField" class="col-sm-2 col-form-label">Current Password</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" id="currpwd" name="currpwd" th:field="*{currPwd}">
            </div>
        </div>

        <div class="form-group row">
            <label for="newPwd1Field" class="col-sm-2 col-form-label">New Password</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" id="newpwd1" name="newpwd1" th:field="*{password1}">
            </div>
        </div>

        <div class="form-group row">
            <label for="newPwd2Field" class="col-sm-2 col-form-label">Confirm New Password</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" id="newpwd2" name="newpwd2" th:field="*{password2}">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>

</div>

</html>
