<!doctype html>
<html th:replace="~{fragments/layout::authenticatedLayout(~{::view_profile}, ~{::header-content})}" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header-content" th:remove="tag">


    <script type="text/javascript">
        $(document).ready(function() {
            lightGallery(document.getElementById('profile-light-gallery'));
            lightGallery(document.getElementById('main-profile-pic'));
        });
    </script>



</head>

<div th:fragment="view_profile" class="row">
    <div class="col-md-4">
        <div th:replace="view_profile/profile_frags::box"></div>
    </div>

    <div class="col-md-8">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Activites</h5>
            </div>
            <div class="ibox-content">
                <div>
                    <div class="panel blank-panel">
                        <div class="panel-heading">
                            <div class="panel-options">
                                <ul class="nav nav-tabs" id="profileTabsDiv">
                                    <li class="active"><a data-toggle="tab" href="#profile-tab-1">Basic Info</a></li>
                                    <li><a data-toggle="tab" href="#profile-tab-2">In my own words</a></li>
                                    <li><a data-toggle="tab" href="#profile-tab-3">Pictures</a></li>
                                    <li wicket:id="makePlansTab"><a data-toggle="tab" href="#profile-tab-4">Make Plans</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="profile-tab-1">
                                    <div th:replace="view_profile/profile_frags::basicInfo" th:remove="tag"></div>
                                </div>
                                <div class="tab-pane" id="profile-tab-2">
                                    <div th:replace="view_profile/profile_frags::aboutMe" th:remove="tag"></div>
                                </div>
                                <div class="tab-pane" id="profile-tab-3">
                                    <div th:replace="view_profile/profile_frags::pics" th:remove="tag"></div>
                                </div>
                                <div class="tab-pane" id="profile-tab-4">
                                    <div th:replace="view_profile/date::panel" th:remove="tag"></div>
                                    <div th:replace="view_profile/date::pastDates" th:remove="tag"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



</html>
