<!doctype html>
<html th:replace="~{fragments/layout::authenticatedLayout(~{::view_profile}, ~{::header-content})}" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header-content" th:remove="tag">
    <link th:href="@{/css/bootstrap-clockpicker.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css">

    <script th:src="@{/js/bootstrap-clockpicker.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>

    <script th:src="@{/js/view_profile.js}"></script>
</head>

<div th:fragment="view_profile" class="row">
    <div class="col-md-4">
        <div th:replace="view_profile/profile_frags::box"></div>
    </div>

    <div class="col-md-8">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Activites</h5>
            </div>
            <div class="ibox-content">
                <div>

                    <div class="tabs-container">
                        <ul class="nav nav-tabs" id="profileTabsDiv">
                            <li><a class="nav-link active" data-toggle="tab" href="#tab-1">Basic</a></li>
                            <li><a class="nav-link" data-toggle="tab" href="#tab-2">More</a></li>
                            <li><a class="nav-link" data-toggle="tab" href="#tab-3">Pictures</a></li>
                            <li><a class="nav-link" data-toggle="tab" href="#tab-4">Make Plans!</a></li>
                        </ul>


                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <div th:replace="view_profile/profile_frags::basicInfo" th:remove="tag"></div>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <div th:replace="view_profile/profile_frags::aboutMe" th:remove="tag"></div>
                                </div>
                            </div>
                            <div id="tab-3" class="tab-pane">
                                <div class="panel-body">
                                    <div th:replace="view_profile/profile_frags::pics" th:remove="tag"></div>
                                </div>
                            </div>
                            <div id="tab-4" class="tab-pane">
                                <div class="panel-body">
                                    <div th:replace="view_profile/date::makePlans" th:remove="tag"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>



</html>
