$toName,

Great news, $otherPersonName would like another date!  

Since it has worked out so well, why change the formula?  We recommend you setup the first 3 dates using DefinitePlans.com.
Try to schedule one date per week.  Good luck!

To unsubscribe from all future emails, use the below link:
${unsubLink}