$toName,

$otherPersonNameMsg

"$greeting"

What: $what

Where: 
$whereName
$whereLocation

When:
$dateWhen

Use the below url to respond:
$viewProfileUrl


General Tips:
- Only agree to meet in a public place you would feel comfortable at.  Do not meet at someone's apartment.
- Make sure to arrive yourself and that you have an easy way to get home yourself.
- Don't have unrealistic expectations.  Treat this as a fun-filled opportunity to get to know each other, and see where it goes!


To unsubscribe from all future emails, use the below link:
${unsubLink}
