
<form id="basicInfoForm" th:fragment="basic-info" th:action="@{/me/basic}" th:object="${user}" method="POST" data-parsley-validate>
    <div class="alert alert-primary" role="alert" id="basic-info-saved" style="display:none;"></div>
    <div class="alert alert-danger" role="alert" id="basic-info-errors" style="display:none;"></div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Display Name</label>
            <input class="form-control" placeholder="Display Name" type="text" th:field="*{displayName}" required data-parsley-length="[2, 15]">
        </div>
        <div class="form-group col-md-4">
            <label>Gender</label>
            <select class="form-control" th:field="*{gender}" required>
                <option value="0">Select</option>
                <option th:each="g : ${genders}" th:value="${g.id}" th:text="${g.enumValue}"></option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label>Date of birth</label>
            <input class="form-control" data-mask="99/99/9999" placeholder="" type="text" th:field="*{dob}" required>
            <span class="help-block m-b-none">mm/dd/yyyy</span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label>City</label>
            <input class="form-control" type="text" th:field="*{city}">
        </div>
        <div class="form-group col-md-4">
            <label>State</label>
            <select class="form-control doit-select2" data-placeholder="Select" th:field="*{state}" required>
                <option value="0">Select</option>
                <option th:each="s : ${states}" th:value="${s.abbreviation}" th:text="${s}"></option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label>Zip code</label>
            <input class="form-control" data-mask="99999" type="text" th:field="*{postalCode}" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Neighborhood <a class="fa fa-question-circle tooltip-icon-test" data-content="Enter your neighborhood to make planning the location of the date easier" data-toggle="popover" data-trigger="focus" role="button" tabindex="0" title="Neighborhood"></a></label>
            <input class="form-control" type="text" th:field="*{neighborhood}">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <button class="btn btn-primary btn-lg" type="submit">Save changes</button>
        </div>
    </div>

</form>