
<div th:fragment="profile-imgs" th:remove="tag">
    <form id="editProfilePicForm">
        <div class="form-row">
            <div class="form-group col-lg-12">
                <div id="previewsContainer" style="display:none;"></div>
                <div class="alert alert-danger" id="uploadErrDiv" style="display:none;"></div>
                <div class="alert alert-info" id="uploadProgressDiv" style="display:none;"></div>
                <div class="alert alert-success" id="uploadSuccessDiv" style="display:none;">Saved!</div>

                <button class="btn btn-success " id="btnUploadPic" type="button"><i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">Upload new profile picture</span></button>
            </div>
        </div>
    </form>
    <div class="col-lg-12">

        <div class="text-center" id="loading-indicator" style="display: none;">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="row" id="profile-light-gallery">
            <div th:replace="edit_profile/imgs::user-pics-list"></div>
        </div>
    </div>
</div>


<div th:fragment="user-pics-list" th:remove="tag">
    <div class="col-lg-3" th:each="pic : ${user_pics}">
        <div class="contact-box center-version">
            <a th:href="${pic.getFullImgUrl()}" class="lg-img">
                <img alt="image" class="img-fluid img-responsive" th:src="${pic.getThumbImgUrl()}" />
                <div class="demo-gallery-poster">
                    <img th:src="@{/img/zoom.png}">
                </div>
            </a>
            <div class="text-center">
                <div class="btn-group">
                    <button class="btn btn-xs btn-outline btn-info set-as-profile-img" type="button" id="updateProfileImgBtn" th:img-id="${pic.id}"><i class="fa fa-user-check"></i>Use</button>
                    <button class="btn btn-xs btn-outline btn-danger delete-profile-img" type="button" id="deleteImgBtn" th:img-id="${pic.id}"><i class="fa fa-trash-alt"></i>Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>