<form id="settingsForm" th:fragment="settings" th:action="@{/me/settings}" th:object="${user}" method="POST" data-parsley-validate>

    <br>

    <div class="alert alert-primary" role="alert" id="settings-info-saved" style="display:none;"></div>
    <div class="alert alert-danger" role="alert" id="settings-info-errors" style="display:none;"></div>


    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" th:field="*{sendNotifications}">
                <label class="custom-control-label" for="sendNotifications1">Enable Email notifications</label>
            </div>
        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Visible to ages</label>
            <select class="form-control" th:field="*{ageMin}">
                <option value="0">Select</option>
                <option th:each="g : ${ages}" th:value="${g}" th:text="${g}"></option>
            </select>
            -
            <select class="form-control" th:field="*{ageMax}">
                <option value="0">Select</option>
                <option th:each="g : ${ages}" th:value="${g}" th:text="${g}"></option>
            </select>
        </div>
    </div>

    <div id="blocked-users-list">
        <div th:replace="edit_profile/settings::blocked-list-frag"></div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <button class="btn btn-primary btn-lg" type="submit">Save changes</button>
        </div>
    </div>

</form>


<div th:fragment="blocked-list-frag" th:remove="tag">

    <div class="text-center" id="blocked-loading-indicator" style="display: none;">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="form-row" th:if="${blocked_users != null and !blocked_users.isEmpty()}">
        <div class="form-group col-md-12">
            <label><strong>Blocked users</strong></label>
            <table class="table">
                <tbody>
                <tr class="blocked-user-row" th:each="bu : ${blocked_users}">
                    <td><span th:text="${bu.displayName}"></span></td>
                    <td>
                        <button type="button" class="btn btn-danger unblockLink" th:id="${bu.getLinkId()}" th:profile-id="${bu.userId}">
                            <i class="fa fa-trash"></i> Unblock
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>