<form id="resetPasswordForm" th:fragment="pwd" th:action="@{/me/pwd}" th:object="${pwdUpdate}" method="POST">

    <div class="form-row">
        <div class="form-group col-md-12">
            <input autocapitalize="off" autocomplete="off" autocorrect="off" class="form-control" placeholder="Current Password" type="password" th:field="*{currPwd}">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <input autocapitalize="off" autocomplete="off" autocorrect="off" class="form-control" placeholder="Password" type="password" th:field="*{password1}">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <input autocapitalize="off" autocomplete="off" autocorrect="off" class="form-control" placeholder="Confirm Password" type="password" th:field="*{password2}">
        </div>
    </div>

    <button class="btn btn-primary block full-width m-b" type="submit">Update Password</button>

</form>